.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(129, 49, 49);
    color: white;
    padding: 15px;
    font-size: em;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: red;
}

.homepage {
    background-image: url('https://cdn.marvel.com/content/1x/avengers_2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

